.container {
  display: flex;
  flex-direction: column;
  min-width: 386px;
  gap: 2rem;
  h1 {
    font-weight: 500;
    font-size: 1.5rem;
    color: black;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.deleteMessage {
  font-weight: 400;
  font-size: 1rem;
  color: #0000008A;
}

